doctype html
html(class="h-full")
  head
    title='Buena Vista Club'
    link(rel='stylesheet', href='/stylesheets/tailwind.css' , type='text/css')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Rajdhani:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap" rel="stylesheet">


  body( class='body h-full' style={ 'font-family': 'Helvetica, Arial, sans-serif'})
    header( class='md:h-40 flex flex-nowrap items-end p-5 justify-between shadow-xl' style={'font-family':'helvetica', 'background-repeat':'no-repeat','background-size':'cover', 'background-image':`url('/images/header2.png')` }) 
      h1(class='xl:text-8xl l:text-7xl lg:text-6xl md:text-5xl text-3xl text-black underline' style={'font-family':'Helvetica' }) Buena Vista Club
      if (!!locals.currentUser)
        div(class='container w-1/3 flex flex-row flex-nowrap justify-end items-center')
          p(class='m-1 md:text-xl text-lg text-black font-sans font-md') #{locals.currentUser.firstname + ' ' + locals.currentUser.lastname}
          form(method='POST' action='/users/logOut')
            button( class='m-2 w-20 h-8 bg-white text-l font-sans font-light px-2 shadow-inner' type='submit') Log-out
          if ( locals.currentUser.memberStatus !== 'member' )
            form(method='POST' action='/users/join')
              button(class='m-2 w-20 h-8 bg-white font-sans font-light text-black text-l px-1 shadow-inner' type='submit') Join
    
  block content
