extend layout

block content
  h2=title
  form(action='' method='POST')
    label(for='username') Username
    input(name='username' placeholder='username' type='text')
    label(for='password') Password
    input(name='password' type='password')
    button Log In
